html{
    height: 100%;
    width: 100%;
    margin:0;
    min-width:1340px;!important;
    overflow-x:auto;!important;
}
td {
    white-space: pre-wrap;!important;
    overflow: hidden;!important;
    text-overflow: ellipsis;!important;
}
.main-container:before{
    background-color:#EBEFF1;
}
.main-container:after{
    background-color:#EBEFF1;
}
.main-container{
    background-color:#EBEFF1;
}
.container{
	min-width:1100px;!important;
	margin-left:5px;
	margin-right:1%;
	background-color:#EBEFF1;
}
.sidebar{
    background-color:#EBEFF1;
	border-right:1px solid #EBEFF1;
	min-height:700px;
}
.no-skin .sidebar {
	background-color:#EBEFF1;
	border-right:1px solid #EBEFF1;
}
/*菜单*/
.nav-list > li li.active > a:after {
    top: 4px;
    border-width: 20px 8px;
}
.nav-list > li.active> a:after {
    top: 4px;
    border-width: 20px 8px;
}

/*标题头*/
.navbar {
    background: #005fb3;
}
.main-content{
	background-color:#EBEFF1;
	margin-top:1%;
}
/*重定义ace >li 样式*/
.ace-nav>li {
    border-left: 0px solid #E1E1E1;
    white-space: nowrap; /*强制不换行 */
    margin-top: 2px;
}

.no-skin .nav-list > li > a {
    background-color: #fafafa;
    color: #1963aa;
    height: 48px;
    line-height: 28px;
}

.self-ul-height {
	height:48px;
	line-height:28px;
}
.sidebar {
	overflow-x: hidden; 
	overflow-y: hidden;
}
.sidebar .sidebar-shortcuts-large {
    line-height: 60px;
}

.text-white{
    color: white;
}

.navbar-collapse{
    margin-top: 8px;
    display: inline;
}

/* 自定义样式 begin */
.breadcrumbs-self {
    height:60px;
    line-height:60px;
    background-color:white;
}

.page-content-self {
    margin-top: 1%;
}
.widget-box-self{
	min-height:450px;
}
.model-search{
    /*font-family: Simsun;*/
    border: 1px solid #abbac3;
    padding: 5px;
    margin-bottom: 5px;
}
.model-title {
    background-image: linear-gradient(to bottom, #1aa1e3 0%, #1aa1e3 100%) !important;
}
.img-icon{
    width: 22px;
    margin-top: 7px;
}
.xiangqing{
    width: 20px;
    margin-top: 6px
}
.set-text{
    color:#f1f7f8;
    /*font-family: Simsun;*/
    font-weight:bold;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.model-body{
    padding-top:10px;
    background-color: #e0eef1;
    color: #336699;
    /*font-family: Simsun;*/
    padding-bottom: 10px;
    border: 1px solid rgba(0, 95, 179, 0.51);
    border-top: 0px;
}
.a-active{
    border:1px solid;
    color: #1c70b9;
    font-weight: bold;
}
.yinyong{
    width: 20px;
    margin-top: 8px;
}
.orgchart {
  background: #fff;
}
input.Wdate{
	background:#fff url(../plugins/My97DatePicker/skin/datePicker.gif) no-repeat right !important;
	height:30px;
}
.ec-add{
    background-color:#ffffff  ;
    border: 1px solid #ffffff;
    color:#222;
}
.myul{
	margin-left:0px;
	margin-top:2px;
}
a.tuchu.focus{
	color: #e5e5e5;
  	background-color:#2a6496;
}

.shenlue{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

