<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.dao.MenuDao">

    <select id="selectOneLevelMenuRole" parameterType="String" resultType="com.founder.entity.MenuNodeEntity">
      SELECT
            T.MENU_ID AS 'menuid',
            T.MENU_NAME AS 'name',
            T.SHOW_IMG AS 'img',
            T.MENU_URL AS 'url'
        FROM
            YJFY_MENU_INFO T
        INNER JOIN YJFY_MENU_ROLE A
        ON (
            T.MENU_ID = A.MENU_ID
            AND A.ROLE_ID = #{_parameter}
            AND T.PARENT_MENU_ID = 0
        )
    </select>

    <select id="selectTwoLevelMenuRole" parameterType="java.util.Map" resultType="com.founder.entity.MenuNodeEntity">
         SELECT
            T.MENU_ID AS 'menuid',
            T.MENU_NAME AS 'name',
            T.SHOW_IMG AS 'img',
            T.MENU_URL AS 'url'
        FROM
            YJFY_MENU_INFO T
        INNER JOIN YJFY_MENU_ROLE A
        ON (
            T.MENU_ID = A.MENU_ID
            AND A.ROLE_ID = #{roleid}
            AND T.PARENT_MENU_ID = #{menuid}
        )
    </select>
</mapper>