<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.dao.UserDao">
    <sql id="userColumns">
        T.USER_ID AS 'userId',
        T.USER_NAME AS 'username',
        T.PASSWORD AS 'password',
        T.CH_NAME AS 'chName',
        T.ROLE_ID AS 'roleId',
        T.USER_NUMBER AS 'userNumber',
        T.EMAIL AS 'email',
        T.PHONE AS 'phone',
        T.STATUS AS 'status',
        T.REMARK AS 'remark',
        T.CREATE_USER AS 'createUser',
        T.CREATE_TIME AS 'createTime',
        T.UPDATE_USER AS 'updateUser',
        T.UPDATE_TIME AS 'updateTime'
    </sql>

    <select id="selectAll"  resultType="com.founder.entity.UserEntity">
        SELECT
            <include refid="userColumns"/>,
            A.ROLE_NAME AS 'roleName'
        FROM
            YJFY_SYS_USER T
        LEFT JOIN YJFY_SYS_ROLE A ON T.ROLE_ID = A.ROLE_ID
        WHERE T.STATUS = '1' AND  T.ROLE_ID &lt;&gt; 1
        ORDER BY T.CREATE_TIME DESC
    </select>


    <select id="selectUserByUP" parameterType="com.founder.entity.UserEntity" resultType="com.founder.entity.UserEntity">
        SELECT
            T.USER_ID AS 'userId',
            T.USER_NAME AS 'username',
            T.CH_NAME AS 'chName',
            T.ROLE_ID AS 'roleId'
        FROM
            YJFY_SYS_USER T
        WHERE
            T.USER_NAME = #{username,jdbcType=VARCHAR}
        AND T.PASSWORD = #{password,jdbcType=VARCHAR}
        AND T.STATUS = '1'
    </select>

    <select id="selectCountByUsername" parameterType="Map" resultType="Integer">
        SELECT
            COUNT(1)
        FROM
            YJFY_SYS_USER T
        WHERE
            T.USER_NAME = #{username,jdbcType=VARCHAR}
        AND
            T.USER_ID != #{userId,jdbcType=VARCHAR}
        AND
            T.STATUS = '1'
    </select>

    <insert id="insertUser" parameterType="com.founder.entity.UserEntity">
        INSERT INTO YJFY_SYS_USER(
            USER_ID,
            USER_NAME,
            PASSWORD,
            CH_NAME,
            ROLE_ID,
            USER_NUMBER,
            EMAIL,
            PHONE,
            STATUS,
            REMARK,
            CREATE_USER,
            CREATE_TIME
        )
        VALUES(
            #{userId,jdbcType=VARCHAR},
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{chName,jdbcType=VARCHAR},
            #{roleId,jdbcType=VARCHAR},
            #{userNumber,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            '1',
            #{remark,jdbcType=VARCHAR},
            #{createUser,jdbcType=VARCHAR},
            date_format(NOW(), '%Y-%m-%d %H:%i:%s')
        )
    </insert>

    <update id="updateUser" parameterType="com.founder.entity.UserEntity">
        UPDATE YJFY_SYS_USER SET
            USER_NAME = #{username,jdbcType=VARCHAR},
            PASSWORD = #{password,jdbcType=VARCHAR},
            CH_NAME = #{chName,jdbcType=VARCHAR},
            ROLE_ID = #{roleId,jdbcType=VARCHAR},
            EMAIL = #{email,jdbcType=VARCHAR},
            PHONE = #{phone,jdbcType=VARCHAR},
            REMARK = #{remark,jdbcType=VARCHAR},
            UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            UPDATE_TIME = date_format(NOW(), '%Y-%m-%d %H:%i:%s')
        WHERE
            USER_ID = #{userId,jdbcType=VARCHAR}
    </update>

    <update id="deleteUserById" parameterType="String">
        UPDATE YJFY_SYS_USER SET
            STATUS = '2'
        WHERE
            USER_ID = #{_parameter}
    </update>

    <select id="selectUserByRoleId" parameterType="String" resultType="Integer">
        SELECT
            COUNT(1)
        FROM
            YJFY_SYS_USER T
        WHERE
            T.STATUS = '1'
        AND
            T.ROLE_ID = #{_parameter}
    </select>

</mapper>